// fonts
$font_1: "Marcellus", serif;
$font_2: "Jost", sans-serif;

// colors
$color_1: #B99D75;
$color_2: #333632;
$color_3: #53624e;

// fontsizes
$fontsize_12: 12px;
$fontsize_14: 14px;
$fontsize_16: 16px;
$fontsize_18: clamp(16px, 14.8px + 0.2vw, 18px);
$fontsize_22: clamp(18px, 15.6px + 0.4vw, 22px);
$fontsize_25: clamp(20px, 17px + 0.5vw, 25px);
$fontsize_32: clamp(21px, 14.4px + 1.1vw, 32px);
$fontsize_36: clamp(24px, 16.8px + 1.2vw, 36px);
$fontsize_40: clamp(28px, 20.8px + 1.2vw, 40px);
$fontsize_48: clamp(32px, 22.4px + 1.6vw, 48px);
$fontsize_72: clamp(36px, 14.4px + 3.6vw, 72px);
$fontsize_80: clamp(40px, 16px + 4vw, 80px);

// margins
$margin_26: clamp(12px, 3.6px + 1.4vw, 26px);
$margin_40: clamp(20px, 8px + 2vw, 40px);
$margin_60: clamp(30px, 12px + 3vw, 60px);;
$margin_80: clamp(40px, 16px + 4vw, 80px);
$margin_100: clamp(50px, 20px + 5vw, 100px);
$margin_120: clamp(60px, 24px + 6vw, 120px);
$margin_140: clamp(70px, 28px + 7vw, 140px);

// frames
%frame_40 {
    width: 41%;
    max-width: 780px;
}
%frame_80 {
    width: 80%;
    max-width: 1350px;
}
%frame_950 {
    width: 85%;
    max-width: 950px;
    margin: 0 auto;
}
%subheader{
    font-family: $font_2;
    font-weight: 500;
    letter-spacing: 0.1em;
    text-transform:uppercase;
    font-size: $fontsize_14;
    color: $color_1;
}
%header {
    h1, h2, h3 {
        line-height: 1.2;
        font-weight: 300;
        font-family: $font_1;
    }
    &.center {
        text-align: center;
    }
    .subheader{
        @extend %subheader;
    }
}

// text
%text {
    font-size: $fontsize_25;
    line-height: 1.5;
    font-weight: 300;
    @media (max-width: 380px) {
        font-size: 18px;
    }
}
%bodytext {
    @extend %text;
    &.text-center {
        text-align: center;
    }
    & + p, & + ul {
        margin-top: 1.5em;
    }
    a {
        color: $color_1;
    }
}


