@use 'base';

.frame-type-netwerk_imageroundtext{
    width: 100%;
    background-color: base.$color_3;
    display:grid;
    grid-template-columns: 1fr 1fr;
    align-items:center;
    padding: 2% 10%;
    color: #fff;
    position:relative;
    &::before{
        content: '';
        width: 2px;
        height: 75%;
        background-color: #fff;
        display:block;
        position:absolute;
        left: 50%;
        top: 0;
    }
    &::after {
        content: "";
        position: absolute;
        top: 75%; /* Kugel etwas höher als der Strich */
        left: 50%; /* Am Ende des Strichs */
        width: 25px;
        height: 25px;
        background-color: #fff;
        border-radius: 50%;
        transform: translateX(-12.5px);
    }
    picture{
        padding: 15%;
    }
    img{
        border-radius: 50%;
        width: 100%;
        height: auto;
    }
    header > h3{
        font-size: base.$fontsize_50;
        font-weight: 300;
        margin-bottom: 1em;
    }
    p + p{
        margin-top: 1em;
    }
    #text-right{
        padding-left: 7rem;
    }
    @media(max-width: 1400px){
        padding: 6%;
        grid-template-columns: 1fr 1.5fr;
        &::before, &::after{
            left: 42%;
        }
        &::before{
            height: 80%;
        }
        &::after{
            top: 80%;
        }
    }
    @media(max-width:1000px){
        grid-template-columns: 1fr;
        gap: 5%;
        grid-template-areas: 
        'text'
        'image';
        &::before, &::after{
            left: 5%;
        }
        &::before{
            height: 50%;
        }
        &::after{
            top: 50%;
        }
        picture{
            width: 40%;
            padding: 0;
            margin: 0 auto;
            grid-area: image;
        }
        #text-right{
            grid-area: text;
            margin-left: 5%;
        }
    }
    @media(max-width: 650px){
        grid-template-rows: 1fr 1fr;
        &::before{
            height: 60%;
        }
        &::after{
            top: 60%;
        }
        picture{
            width:60%;
        }
    }
    @media(max-width: 450px){
        grid-template-rows: 1.4fr 1fr;
        &::before{
            height: 70%;
        }
        &::after{
            top: 70%;
        }
    }
}