@use 'base';


#modal{
    display:none;
    width: 45%;
    height: 100%;
    background-color: base.$color_3;
    color: #fff;
    position:fixed;
    top:0;
    left:0;
    z-index: 11;
    overflow: auto;
    #inner-modal{
        display:flex;
        flex-direction:column;
        justify-content:flex-start;
        align-items:flex-start;
        height: 100vh;
        padding: 50px 50px 80px 50px;
        gap: 0.5em;
        a, li{
            text-decoration: none; 
            color:#fff;
            font-size: base.$fontsize_32;
        }
        ul{
            list-style: none;
        }
        .navigation, .address{
            margin-bottom: 20px;
            li, p{
                line-height: 1.5em;
            }
        }
        .navigation{
            a.active{
                color: base.$color_1;
            }
        }
        .languages{
            margin-bottom: 20px;
            display:flex;
            gap: 0.5em;
            a{
                color: #fff;
                text-decoration: none;
                text-transform: uppercase;
                font-family: base.$font_2;
                font-size: base.$fontsize_16;
            }
            
        }
        .address{
            p{
                font-size: base.$fontsize_16;
                font-family: base.$font_2;
            }
            p#company{
                font-size: base.$fontsize_22;
                font-family: base.$font_1;
            }
        }
        .socials{
            display:flex;
            gap: 10px;
            svg{
                width: 30px;
                height:auto;
            }
        }
    }
    .logo-link svg{
        fill: base.$color_1;
        width: 180px;
        height: auto;
    }
    .logo-link{
        display:block;
        width: 100%;
        text-align:center;
        margin-top: 45px;
        padding-bottom: 20px;
        border-bottom: 1px solid #FFFFFF45;
    }
    .cta{
        display:flex;
        gap: 10px;
        a{
            border: 1px solid #fff;
            padding: 10px 24px;
            line-height: 3em;
        }
    }
    
}

.close-btn {
    cursor: pointer;
    justify-self: flex-end;
    line-height: 1em;
    color: #fff;
    font-weight: 100;
    position: absolute;
    top: 45px;
    right: 45px;
    font-size: base.$fontsize_32;
}

.modal{
    #modal{
        display:block;
    }
}

@media(max-width: 850px){
    #modal{
        width: 50%;
    }
}
@media(max-width: 650px){
    #modal{
        width: 80%;
    }
}
@media(max-width: 500px){
    #modal{
        width: 100%;
    }
}
