@use 'base';

.frame-type-netwerk_teaseroverview{
    width: 100%;
    background-color: base.$color_1;
    padding: 8% 12%;
    header > h2{
        font-size: base.$fontsize_80;
        font-weight: 300;
        color: base.$color_2;
        margin: 0 0 1.2em 0;
    }
    ul.teaser{
        list-style: none;
        display:flex;
        flex-wrap:wrap;
        justify-content:space-between;
        column-gap: 14%;
        row-gap: 5em;
        li{
            width: 23%;
            color: base.$color_2;
            font-weight: 300;
            #teaser-header{
                font-size: base.$fontsize_35;
                margin: 1.5em 0 1em 0;
            }
            a{
                text-decoration: none;
                color: base.$color_2;

            }
            img{
                border-radius: 50%;
            }
        }
    }
    @media(max-width: 1200px){
        padding: 8%;
        ul.teaser{
            column-gap: 2rem;
            row-gap: 3rem;
            li{
                width: 30%;
            }
        }
    }
    @media(max-width: 950px){
        padding: 12% 5%;
        ul.teaser{
            li{
                width: 45%;
            }
        }
    }
    @media(max-width: 600px){
        ul.teaser{
            justify-content:center;
            li{
                width: 80%;
                display:flex;
                flex-direction:column;
                align-items:center;
                a, p{
                    text-align:center;
                }
            }
        }
    }
}