@use 'base';

.frame-type-netwerk_textimages{
    width: 75%;
    margin: 1em auto;
    display:grid;
    grid-template-columns: 1fr 1fr;
    gap: 50px;
    .text-left{
        display:flex;
        flex-direction:column;
        justify-content:center;
        header {
            @extend %header;
            h1, h2, h3{
                margin-top: 20px;
                text-transform: uppercase;
            }
            margin-bottom: 2em;
        }
        > ul{
            list-style: none;
            display:grid;
            grid-template-columns: 1fr 1fr;
            gap: 40px;
            li{
                display:grid;
                grid-template-areas:
                'icon title'
                'icon text';
                grid-template-columns: 1fr 5fr;
                padding:  0;
                gap: 15px;
                img{
                    grid-area: icon;
                }
                #text{
                    grid-area: text;
                    font-size: base.$fontsize_16;
                    font-family: base.$font_2;

                }
                #title{
                    grid-area: title;
                    font-size: base.$fontsize_18;
                }
            }
        }  
    }
    .images{
        display:flex;
        align-items:center;
        gap: 15px;
        img{
            width: 100%;
            height: auto;
            opacity: 0;
            transform: translateY(15%);
            transition: opacity 1s ease-out, transform 1s ease-out;
            &.visible{
                opacity: 1;
                transform: none;
            }
        }
    }
    
    @media(max-width: 1250px){
       width: 85%;
    }
    @media(max-width: 1050px){
        display: block;
        .text-left{
            margin-bottom: 2em;
        }
        .images{
            justify-content:center;
        }
    }
    @media(max-width: 600px){
        width: 95%;
        .text-left > ul{
            display:block;
            li{
                margin-bottom: 2em;
                gap: 5px;
            }
        }
    }
}
