@use 'base';

.frame-type-netwerk_textimagebackground{
    width: 100%;
    position:relative;
    min-height: 490px;
    background-color: base.$color_2;
    #text{
        position:absolute;
        top: 0;
        left: 0;
        display:flex;
        flex-direction:column;
        width: 100%;
        height: 100%;
        justify-content:center;
        align-items:center;
        color: #fff;
        header > h3{
            font-size: base.$fontsize_80;
            font-weight: 300;
        }
    }
    picture{
        display:block;
        width: 100%;
        height: 100%;
        &::after{
            content: "";
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
            background: rgba(0, 0, 0, 0.44);
        }
    }
    img{
        width: 100%;
        height: 100%;
        object-fit:cover;
        display:block;
    }
    @media(max-width:1450px){
        min-height: 380px;
    }
    @media(max-width:800px){
        min-height: 250px;
    }
    @media(max-width:430px){
        #text{
            header > h3{
                text-align:center;
            }
        }
    }
}