@use 'base';

#top{
    position:fixed;
    top: 0;
    left:0;
    z-index: 5;
    width: 100%;
    display:flex;
    align-items:center;
    justify-content:space-between;
    gap: 2em;
    color: #fff;
   padding: 1em 4em;
    a, li{
        color: #fff;
        text-decoration: none;
        text-transform: uppercase;
        font-size: base.$fontsize_12;
        letter-spacing: 0.1em;
        cursor:pointer;
        font-weight: 500;
    }
    ul{
        list-style: none;
    }
    .logo-link{
        svg{
            height: 60px;
            width: auto;
        }
    }
    .navigation, .cta,  #top-left{
        display:flex;
        gap: 30px;
        align-items:center;
    }
    .cta{
        a{
            border: 1px solid #fff;
            padding: 10px 24px;
            line-height: 3em;
        }
    }


    .menu {
        right: 60px;
        top: 75px;
        display:none;
        cursor: pointer;
        height: 30px;
        width: 40px;
        .menu-bar {
            transform-origin: center;
            stroke: #fff;
            stroke-width: 2px;
            transition: all 0.6s ease;
        }
        .menu-bar-top {
            transform: translateY(-10px)
        }
        .menu-bar-middle {
            opacity: 1; // Sichtbarkeit des mittleren Balkens
            transition: opacity 0.3s ease; 
        }
        .menu-bar-bottom {
            transform: translateY(10px)
        }
    }
    @media(max-width: 1550px){
        .logo-link svg{
            height: 45px;
        }
    }
    @media(max-width: 1200px){
        .logo-link{
            margin-right: auto;
        }
        svg.logo{
            margin-left: 3rem;   
        }
        .navigation, .languages{
            display:none;
        }
        .menu{
            display:block;
        }
    }
    @media(max-width:850px){
        padding: 1em;
    }
    @media(max-width:550px){

       .cta{
            display: none;
       }
    }

}

.hero{
    #top{
        background-color: transparent;
        .logo-link{
            svg{
                fill: #fff;
            }
        }
    }
}
.scrolled, .nohero{
    #top{
        background:#fff;
        .logo-link svg{
            fill: #B99D75;
        }
        li, a{
            color: #000;
        }
        .cta a {
            border: 1px solid #000;
        }
    }
}
.nohero, .scrolled{
    #top .menu .menu-bar{
        stroke: #000;
    }
}
