.DS_Store
.idea
nbproject
.env*
/var/*
!/var/labels
/vendor
/public/*
!/public/humans.txt
!/public/robots.txt
!/public/.htaccess
!/public/typo3conf
/public/typo3conf/*
!/config/system/settings.php
!/config/system/additional.php
db.sql*
dump.sql
auth.json